<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeController</servlet-name>
        <servlet-class>controller.WelcomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestController</servlet-name>
        <servlet-class>controller.RequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessRequest</servlet-name>
        <servlet-class>controller.ProcessRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestListController</servlet-name>
        <servlet-class>controller.RequestListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>controller.RequestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeController</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestController</servlet-name>
        <url-pattern>/Request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessRequest</servlet-name>
        <url-pattern>/ProcessRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestListController</servlet-name>
        <url-pattern>/RequestList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/RequestServlet</url-pattern>
    </servlet-mapping>
</web-app>
